
<html lang="en">
    <body style="display: flex; align-items: center; justify-content: center; flex-direction: column">
        <h1>Single User Detail</h1>
        <div style="border: 2px solid red; margin: 10px; padding: 10px; width: 500px; display:flex; align-items: center; flex-direction: column; background-color: violet; color: white">
            <img width= "60px" src="../Satya.png"/>
           <h2>User ID: <%= user._id %></h2>
           <h2>Name: <%= user.username %></h2>
           <p>Code: <%= user.email %></p>
        </div>
    </body>
 </html>